/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); */

:root {
    --main-color: #white;
    --black: #05050a;
    --bg: #white;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5rem;
}

body {
    background: white;
    /*background-image: url("jorlogobg.png"); /* The image used */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
}  



.heading {
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading1 {
    text-align: left;
    color: black;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 3rem;
    margin: 0 1rem;
}
.heading2 {
    text-align: center;
    color: black;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 3rem;
    margin: 0 1rem;
}
.heading span {
    color: white;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .4rem 2rem;
    font-size: 1.7rem;
    color: #fff;
    background: black;
    cursor: pointer;
    border-radius: 50px;
    /*border-radius: 45%;*/
}

.btn:hover {
    letter-spacing: .2rem;
}

.header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 7rem;
    border-radius: 4rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: black;
}

.header .navbar a:hover {
    color: grey;
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: black;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: grey;
}

#menu-btn {
  display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

.notification {
    user-select: none;
    background-color: red;
    width: 1.3rem;
    height: 1.3rem;
    font-size: 1.8rem;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3.1999999999999993rem;
    right: 15.3rem;
}

.notification:not(.animation-counter) {
    display: none;
}

.notification.animation-counter {
    animation: count .4s ease-in-out;
}

@keyframes count {
    from {
        top: .2rem;
        right: -1.8rem;
        transform: rotate(120deg);
    }
    25% {
        top: -.2rem;
        right: -1.8rem;
        transform: rotate(80deg);
    }
    50% {
        top: -.4rem;
        right: -.6rem;
        transform: rotate(60deg);
    }
    75% {
        top: -.4rem;
        right: 0rem;
        transform: rotate(30deg);
    }
    to {
        top: .2rem;
        right: .3rem;
        transform: rotate(0deg);
    }
}

/* ///////////////////////////////////////////////////////////////////////////////// ///////////////////////////////////////////*/

.col-md-,
.col-lg-4 {
    margin-bottom: 20px;
}

.sty {
    font-size: 18px !important;
    color: black !important;
}

.uk-border-circle {
    width: 100px !important;
    height: 100px !important;
}

.fa-cart-arrow-down {
    color: white;
    font-size: 50px;
    cursor: pointer;
    padding-left: 20px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-container .cart-item img {
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 1.4rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
}

.header .cart-items-container #cart-quantity {
    border: 0.1rem solid red;
    border-radius: 0.5rem;
    width: 3.2rem;
    text-align: center;
    font-size: 1.4rem;
}

.header .cart-items-container .total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 0.4rem solid black;
}

.header .cart-items-container .total-title {
    font-size: 2rem;
    font-weight: bold;
    color: #ff7200;
}

.header .cart-items-container .total-price {
    margin-left: 0.5rem;
    font-size: 2rem;
    font-family: monospace;
}

/*.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/home-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}*/

.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container.active {
    right: 0;
}

.login-form-container form {
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.login-form-container form span {
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box {
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.login-form-container form .checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label {
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.login-form-container form p {
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a {
    color: var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}


.home .content h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
    
}

.home .content h1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: black;
    
}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 0.9;
    padding: 1rem 0;
    color: black;
}
.home .content h3{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 0.9;
    padding: 1rem 0;
    color: white;
}
/*
.about .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.5rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

*/

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 0.9rem;
}

.products .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
}


.products .box-container .box .image {
    padding: 2.5rem 0;
}

.products .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 0.9;
    padding: 1rem 0;
    color: white;
}

.items .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 0.9rem;
}

.items .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
}


.items .box-container .box .image {
    padding: 2.5rem 0;
}

.items .content p {
    font-size: 2rem;
    
    font-weight: lighter;
    line-height: 0.9;
    padding:1rem ;
    color: grey;
}
.items .content h3 {
    font-size: 2rem;
    
    font-weight: lighter;
    line-height: 0.9;
    padding: 1rem ;
    color: black;
}


.contact .row {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputBox span {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}



.footer {
    background: var(--black);
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background: var(--main-color);
}

.footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}

/* media queries  */

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem 4rem;
    }
    section {
        padding: 4rem;
    }
    .footer {
        padding:2rem 4rem ;
    }
}

@media (max-width:768px)/*768*/ {
    #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar.active {
        right: 0;
    }
    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .search-form {
        width: 90%;
        right: 2rem;
    }
}

@media (max-width:940px){
    .home {
        background-position: center;
        justify-content: center;
        text-align: center;
    }
    .home .content h1 {
        font-size: 4.5rem;
        justify-content: center;
        text-align: center;
        margin: 1.5rem;
    }
 .home .content h2 {
        font-size: 2.5rem;
        justify-content: center;
        text-align: center;
    }

    .home .content p {
        font-size: 1.5rem;
        justify-content: center;
        text-align: center;
    }
.products {
        background-position: center;
        justify-content: center;
        text-align: center;
    }
    .products .heading1 {
        font-size: 4.5rem;
        justify-content: center;
        text-align: center;
        
    }
 


    .products .content p {
        font-size: 1.5rem;
        justify-content: center;
        text-align: center;
    }
.products .box .image {
        
        justify-content: center;
        
       image-position: center;
    }

}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}